<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <link rel="stylesheet" type="text/css" th:href ="@{/css/shelterStyle.css}">
    <link href="/images/dog.png" rel="icon" type="image/x-icon" />
    <meta charset="utf-8">
    <title>Dog shelter</title>
</head>
<body>

<!--меню-->
<div class ="nav">
    <ul class="menu-main">
        <li><a href = "/" th:href="@{http://localhost:8080}" class="current">Home</a></li>
        <li><a href="allDogs" th:href="@{http://localhost:8080/allDogs}">Выбрать питомца</a></li>
        <li><a href="help" th:href="@{http://localhost:8080/help}">Помочь приюту</a></li>
        <li><a href="account" th:href="@{http://localhost:8080/myaccount}">Личный кабинет</a></li>
    </ul>
</div>

<!--
<form th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Add new account"/></div>
</form>-->

<form class="decor" th:action="@{/registration}" th:method="POST" th:object="${user}">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>Регистрация</h3>
        <div th:if="${message}">
            <h5>Warning:</h5><h5 th:text="${message}"></h5>
        </div>
        <div th:if="${param.error}">
            <h5> Invalid username and password. </h5>
        </div>
        <h5><div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div></h5>
        <input type="text" name="username" placeholder="Username">
        <h5><div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"><h5>Name Error</h5></div></h5>
        <input type="text" name="email" placeholder="Email">
            <h5><div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"><h5>Name Error</h5></div></h5>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Зарегистрироваться">
    </div>
</form>

</body>
</html>